* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    color: #426696;
    font-weight: 500;
    opacity: 0.8;
}
main {
    min-height: 100vh;
    background: linear-gradient(to right top, #65DFC9, #07252D);
    display: flex;
    align-items: center;
    justify-content: center;
}
.glass {
    background: #FFFFFF;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3)
    );
    z-index: 3;
    backdrop-filter: blur(2rem);
}
.shape-01, .shape-02 {
    background: #FFFFFF;
    background: linear-gradient(
            to right bottom,
            rgba(255, 225, 225, 0.9),
            rgba(255, 255, 255, 0.1)
    );
    height: 20rem;
    width: 20rem;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
}
.shape-01 {
    top: 5%;
    right: 15%;
}
.shape-02 {
    bottom: 5%;
    left: 10%;
}
#layout {
    margin: 2em;
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.item {
    background: #FFFFFF;
    background: linear-gradient(
            to right bottom,
            rgba(255, 225, 225, 0.9),
            rgba(255, 255, 255, 0.1)
    );
    height: 150px;
    width: 200px;
    position: relative;
    z-index: 4;
    backdrop-filter: blur(1rem);
}
.logout-box {
    color: #000000;
    font-size: 1rem;
    text-decoration: none;
    opacity: 0.7;
    position: center;
}
.button {
    text-transform: lowercase;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#title-name {
    position: relative;
    padding: 0.70rem;
    font-size: 3em;
    letter-spacing: 15px;
    color: #000000;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 0.70em;
    outline: none;
}