<!DOCTYPE html>
<html lang="en" ng-app="SSS">
<head>

        <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>MCSRAWM</title>
    <meta name="description" content="">
    <meta name="author" content="John Dereck S. Timbreza">
        <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- FONT -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <!-- Skeleton -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css')}}">
        <!-- CSS -->
        <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <!-- <script data-require="angular.js@1.4.8" data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular.js"></script> -->
    <script data-require="angular.js@1.4.8" data-semver="1.4.8" src="{{ url_for('static', filename='js/angular-offline.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Controller.js') }}"></script>

</head>
<body>
    <header>
            <img src="{{ url_for('static', filename='images/smart-plug.png') }}" alt="logo">
            <nav>
                <ul class="nav__links">
                    <li><a href="{{ url_for('outlet.index') }}">Outlet</a></li>
                    <li><a href="{{ url_for('wattsOMeter') }}">Consumption</a></li>
                </ul>
            </nav>
            <div>
                <h6>{{ ipa }}<h6>
                <h6>{{ clock }}</h6>
            </div>
    </header>
    {% include "test.html" %}
    {% block content %}{% endblock %}
</body>
</html>