<!DOCTYPE html>
<html lang="en">
<head>

        <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Your page title here :)</title>
    <meta name="description" content="">
    <meta name="author" content="">
        <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- FONT -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <!-- Skeleton -->
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css')}}">
        <!-- CSS -->
        <!-- Favicon -->
    <link rel="icon" type="image/png" href="static/images/favicon.png">

    <link rel="stylesheet" href="{{ url_for('static', filename='a-button-30.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

</head>
<body>
    <main>
        <section class="glass">
            <h1 id="title-name">Socket Control Demo</h1>
            <div id="layout">
                <div class="item">
                    <h2>Off</h2>
                    <div class="button">
                        <a href="h" class="button-30" role="button">Turn off</a>
                    </div>
                </div>
                <div class="item">
                    <h2>On</h2>
                    <div class="button">
                        <a href="h" class="button-30" role="button">Turn on</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="shape-01"></div>
    <div class="shape-02"></div>
</body>
</html>