<!DOCTYPE html>
<html lang="en" ng-app="SSS">
<head>

        <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>MCSRAWM</title>
    <meta name="description" content="">
    <meta name="author" content="John Dereck S. Timbreza">
        <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- FONT -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <!-- Skeleton -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css')}}">
        <!-- CSS -->
        <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <script data-require="angular.js@1.4.8" data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Controller.js') }}"></script>

</head>
<body>
    <nav>
        <img src="{{ url_for('static', filename='images/smart-plug.png') }}">
        <a href="{{ url_for('outlet.index') }}">Home</a>
        <a href="{{ url_for('outlet.index') }}">Consumption</a>
        <h3>{{ ipa }}<h3>
        <b>{{ clock }}</b>
    </nav>
    <div ng-controller="RelaysController">
    <div id="layout"> 

    <!-- group of button single room "ROOM 01" -->
    <div class="room" ng-repeat="item in relays | filter: { group : 'ROOM 01' } | limitTo : 1"> <!-- Room 01 -->
        <h4 ng-bind="item.group"></h4>
            <div id=item ng-repeat="item in relays | filter: { group : 'ROOM 01' }">     <!--  the image for "button toggle" -->
                <h2 ng-bind="item.name"></h2>
                <img id=tgImg ng-src=[[item.image]] ng-click="toggleRelay(item)">
            </div>
    </div>

    <!-- group of button single room "ROOM 02" -->
    <div class="room" ng-repeat="item in relays | filter: { group : 'ROOM 02' } | limitTo : 1"> <!-- Room 02 -->
        <h4 ng-bind="item.group"></h4>
            <div id=item ng-repeat="item in relays | filter: { group : 'ROOM 02' }">     <!--  the image for "button toggle" -->
                <h2 ng-bind="item.name"></h2>
                <img id=tgImg ng-src=[[item.image]] ng-click="toggleRelay(item)">
            </div>
    </div>

    <!-- group of button single room "ROOM 03" -->
    <div class="room" ng-repeat="item in relays | filter: { group : 'ROOM 03' } | limitTo : 1"> <!-- Room 03 -->
        <h4  ng-bind="item.group"></h4>
            <div id=item ng-repeat="item in relays | filter: { group : 'ROOM 03' }">     <!--  the image for "button toggle" -->
                <h2 ng-bind="item.name"></h2>
                <img id=tgImg ng-src=[[item.image]] ng-click="toggleRelay(item)">
            </div>
    </div>

    <!-- group of button single room "ROOM 04" -->
    <div class="room" ng-repeat="item in relays | filter: { group : 'ROOM 04' } | limitTo : 1"> <!-- Room 04 -->
        <h4  ng-bind="item.group"></h4>
            <div id=item ng-repeat="item in relays | filter: { group : 'ROOM 04' }">     <!--  the image for "button toggle" -->
                <h2 ng-bind="item.name"></h2>
                <img id=tgImg ng-src=[[item.image]] ng-click="toggleRelay(item)">
            </div>
    </div>

    </div>
    </div>
</body>
</html>